nav{
    margin: 0 auto;
    width: 95%;
    height: 3em;
    

    ul{
        margin: 0;
        height: 100%;
        list-style-type: none;

        li{
            height: inherit;
            display: inline-flex;
            margin-right: 1em;
            padding: 0 .25em ;
            
            
            &:hover{
                border-bottom: 2px solid $secondary;
                
                a {
                    color: $secondary;
                }
            }

            a{
                height: inherit;
                display: flex;
                align-items: center;
                text-decoration: none;
                color: black;
                
            }
        }
    }


    
}