@import 'normalize';

$primary: rgb(219, 219, 219);
$secondary: rgb(105, 105, 245);
$warning: rgb(147, 22, 22);
$description: rgb(112, 112, 112);



body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    @import 'navigation';
    @import 'view';
    @import 'movie-list';
    
};
