$primary: rgb(220, 220, 220);
$secondary: rgb(105, 105, 245);
$warning: rgb(147, 22, 22);
$description: rgb(112, 112, 112);

@import 'normalize';
@import 'navigation';
 @import 'view';
@import 'movie-list';
@import 'details';
@import 'pagination';




body {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;

    
};
